@model TellAge

@{
    ViewData["Title"] = "Club";
}

<h2>Hello, before you can gain access, you would have to confirm your age</h2>

<h2>
    <form asp-controller= "Club" asp-action = "checklegalage" method = "POST">
    <input type="text" asp-for="Age" placeholder="TellAge">
    <button type="submit">CheckAge</button>
    </form>
</h2>