@model FirstWeb.Models.Person

@{
    ViewData["Title"] = "Delete Information";
}

<div class="insert-container">
    <div class="form-container">
        <div class="heading">
            <h5>Dear Admin</h5>
            <h3>Clicking on the delete button would delete your details...</h3>
        </div>
        <form asp-controller="Information" asp-action="Delete" class="form" method="post">
            @if (ViewBag.SuccessMessage != null)
            {
                <h1 class="viewbagsuccess">@ViewBag.SuccessMessage</h1>
            }
            else
            {
                <div asp-validation-summary="All"></div>
            }
            <div class="image">
                <input type="text" asp-for="Id" placeholder="" readonly/>
            </div>
            <div class="image">
                <input type="text" asp-for="FullName" placeholder="" readonly/>
            </div>
            <div class="image">
                <input type="text" asp-for="Age" placeholder="" readonly/>
            </div>
            <div class="image">
                <input type="text" asp-for="RoomNumber" placeholder="" readonly/>
            </div>
            <div class="image">
                <input type="text" asp-for="Amount" placeholder="" readonly/>
            </div>
            <button type="submit">Delete</button>
        </form>
        <a asp-controller="Information" asp-action="Index">Go Back</a>
    </div>

</div>